<div class="container">
  <div class="row mb-3">
    <h2>Créer une proposition de planning</h2>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="form-group row">
        <label class="col-3 col-form-label">Pour :</label>
        <div class="col-5">
          <ng-select [(ngModel)]="selectedStagiaire"
                     (change)="changeStagiaire()"
                     placeholder="Stagiaire"
                     notFoundText="Aucun stagiaire trouvé">
            <ng-option *ngFor="let stagiaire of stagiaires"
                       [value]="stagiaire.codeStagiaire">{{stagiaire.prenom}} {{stagiaire.nom}}</ng-option>
          </ng-select>
        </div>
        <div class="col-4">
          <ng-select
            [items]="entreprises"
            bindLabel="raisonSociale"
            bindValue="codeEntreprise"
            placeholder="Entreprise"
            notFoundText="Aucune entreprise trouvée"
            (change)="changeEntreprise()"
            [(ngModel)]="selectedEntreprise">
          </ng-select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-3 col-form-label">Nombre d'heures :</label>
        <div class="col-3">
          <input type="number" class="form-control" [(ngModel)]="selectedHeureMin" name="heureMin" placeholder="Min." [min]="0"/>
        </div>
        <label class="col-2 col-form-label">ou / et</label>
        <div class="col-3">
          <input type="number" class="form-control" [(ngModel)]="selectedHeureMax" name="heureMax" placeholder="Max." [min]="0"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-3 col-form-label">Début :</label>
        <div class="col-4">
          <input type="text" class="form-control" [(ngModel)]="selectedDateDebut" name="dateDebut" placeholder="yyyy-mm-dd"
                 ngbDatepicker #dpDebut="ngbDatepicker" (click)="dpDebut.toggle(); dpFin.close()" [maxDate]="selectedDateFin" navigation="arrows"/>
        </div>
        <button type="button" class="btn btn-outline-info" (click)="dpDebut.toggle(); dpFin.close()"><i class="fas fa-table"></i></button>
      </div>
      <div class="form-group row">
        <label class="col-3 col-form-label">Fin :</label>
        <div class="col-4">
          <input type="text" class="form-control" [(ngModel)]="selectedDateFin" name="dateFin" placeholder="yyyy-mm-dd"
                 ngbDatepicker #dpFin="ngbDatepicker" (click)="dpFin.toggle(); dpDebut.close()" [minDate]="selectedDateDebut" navigation="arrows"/>
        </div>
        <button type="button" class="btn btn-outline-info" (click)="dpFin.toggle(); dpDebut.close()"><i class="fas fa-table"></i></button>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group row">
        <label class="col-3 col-form-label">Lieux :</label>
        <ng-select [items]="lieux"
                   [(ngModel)]="selectedLieux"
                   class="col-9"
                   [multiple]="true"
                   bindLabel="libelle"
                   bindValue="codeLieu"
                   placeholder="Lieux"
                   notFoundText="Aucun lieu trouvé">
        </ng-select>
      </div>
    </div>
  </div>

  <hr/>

  <div class="form-group row">
    <label class="col-4 col-form-label">Alimenter à partir du modèle :</label>
    <select class="form-control col-4" [(ngModel)]="selectedModels" (change)="changeModels()">
      <option selected [ngValue]="null">Choisir un modèle...</option>
      <option *ngFor="let m of models" [ngValue]="m">{{ m.name }}</option>
    </select>
  </div>

  <div class="row mb-3">
    <div class="col-md-3">
      <button type="button" class="btn btn-outline-success"
              (click)="openModalAddElement()"><i class="fas fa-plus"></i> Ajouter un élément</button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-outline-danger"
              (click)="openModalDispenseElement()"><i class="fas fa-ban"></i> Dispenser un élément</button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-outline-secondary"
              *ngIf="constraints.length > 0"
              (click)="clearAllConstraints()"><i class="far fa-trash-alt"></i> Effacer tout</button>
    </div>
  </div>

  <div class="row calendar-constraint" *ngFor="let constraint of constraints; let i = index">
    <div class="col-10" [ngClass]="constraint.cssClass">
      <i class="fas fa-list"></i> {{ constraint.title }}
    </div>
    <div class="col-2 text-right">
      <button type="button" class="btn btn-outline-danger" (click)="removeConstraint(i)"><i class="far fa-trash-alt"></i> Enlever</button>
    </div>
  </div>

  <!--
  <div class="row calendar-constraint">
    <div class="col-10 constraint-variante">
      <i class="far fa-calendar-alt"></i> Variante du calendrier #607, à partir du 01/02/2018
    </div>
    <div class="col-2 text-right">
      <button type="button" class="btn btn-outline-danger"><i class="fas fa-ban"></i> Supprimer</button>
    </div>
  </div>

  <div class="row calendar-constraint">
    <div class="col-10 constraint-dispense">
      <i class="far fa-calendar-alt"></i> Dispense UF : Formation aux tests
    </div>
    <div class="col-2 text-right">
      <button type="button" class="btn btn-outline-danger"><i class="fas fa-ban"></i> Supprimer</button>
    </div>
  </div>
  <div class="row calendar-constraint">
    <div class="col-10 constraint-ajout">
      <i class="far fa-calendar-alt"></i> Formation : MS2I-SI
    </div>
    <div class="col-2 text-right">
      <button type="button" class="btn btn-outline-danger"><i class="fas fa-ban"></i> Supprimer</button>
    </div>
  </div>
  <div class="row calendar-constraint">
    <div class="col-10 constraint-ajout">
      <i class="far fa-calendar-alt"></i> Module : Rappels sur la programmation en Java
    </div>
    <div class="col-2 text-right">
      <button type="button" class="btn btn-outline-danger"><i class="fas fa-ban"></i> Supprimer</button>
    </div>
  </div>
  -->

  <div class="row proposal-btn">
    <div class="col-12 text-right">
      <button type="button" class="btn btn-info" (click)="generateCalendar()" [disabled]="!formIsValid"><i class="fas fa-camera"></i> Génération de la proposition</button>
    </div>
  </div>
</div>

