<div class="modal-header">
  <h4 class="modal-title">Ajouter un élément</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ngb-tabset justify="fill">
    <ngb-tab>
      <ng-template ngbTabTitle><i class="fas fa-briefcase"></i> Une Formation</ng-template>
      <ng-template ngbTabContent>
        <div class="form-group row mt-4">
          <label class="col-3 col-form-label">Formations :</label>
          <ng-select [(ngModel)]="selectedFormation"
                     class="col-9"
                     placeholder="Formation"
                     notFoundText="Aucune formation trouvée">
            <ng-option *ngFor="let formation of formations"
                       [value]="formation.codeFormation">{{formation.libelleLong}} - {{formation.libelleCourt}}</ng-option>
          </ng-select>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <button class="btn btn-outline-dark" (click)="addElement(AJOUT_FORMATION)"
                    [disabled]="!selectedFormation">Valider</button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle><i class="fas fa-book"></i> Un module</ng-template>
      <ng-template ngbTabContent>
        <div class="form-group row mt-4">
          <label class="col-3 col-form-label">Modules :</label>
          <ng-select [(ngModel)]="selectedModule"
                     class="col-9"
                     placeholder="Module"
                     notFoundText="Aucun module trouvé">
            <ng-option *ngFor="let module of modules"
                       [value]="module.idModule">{{module.libelleCourt}} - {{module.libelle}}</ng-option>
          </ng-select>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <button class="btn btn-outline-dark" (click)="addElement(AJOUT_MODULE)"
                    [disabled]="!selectedModule">Valider</button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle><i class="fas fa-address-book"></i> En même temps que</ng-template>
      <ng-template ngbTabContent>
        <div class="form-group row mt-4">
          <label class="col-3 col-form-label">Stagiaires :</label>
          <ng-select [(ngModel)]="selectedStagiaire"
                     class="col-9"
                     placeholder="Stagiaire"
                     notFoundText="Aucun stagiaire trouvé">
            <ng-option *ngFor="let stagiaire of stagiaires"
                       [value]="stagiaire.codeStagiaire">{{stagiaire.prenom}} {{stagiaire.nom}}</ng-option>
          </ng-select>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <button class="btn btn-outline-dark" (click)="addElement(EN_MEME_TEMPS_QUE)"
                    [disabled]="!selectedStagiaire">Valider</button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle><i class="far fa-clock"></i> Une période définie</ng-template>
      <ng-template ngbTabContent>
        <div class="form-group row mt-4">
          <label class="col-2 col-form-label">Du :</label>
          <div class="col-3">
            <input type="text" class="form-control" [(ngModel)]="selectedPeriodeDebut" name="dateDebut" placeholder="yyyy-mm-dd"
                   ngbDatepicker #dpDebut="ngbDatepicker" (click)="dpDebut.toggle(); dpFin.close()" [maxDate]="selectedPeriodeFin" navigation="arrows"/>
          </div>
          <label class="col-2 col-form-label text-center">au</label>
          <div class="col-3">
            <input type="text" class="form-control" [(ngModel)]="selectedPeriodeFin" name="dateFin" placeholder="yyyy-mm-dd"
                   ngbDatepicker #dpFin="ngbDatepicker" (click)="dpFin.toggle(); dpDebut.close()" [minDate]="selectedPeriodeDebut" navigation="arrows"/>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <button class="btn btn-outline-dark" (click)="addElement(AJOUT_PERIODE)"
                    [disabled]="!selectedPeriodeDebut || !selectedPeriodeFin">Valider</button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
