.select_promotions{
    position: sticky;
    top: 70px;
}
.select_promotions_filter{
    margin-bottom: 5px;
    cursor: pointer;
}
.select_promotions_filter span{
    width: 100%;
    background-color: #bce7c6;
}
.select_promotions_select{
    cursor: pointer;
}
.select_promotions_select h6{
    text-align: left;
}
.promo_selected{
    border:1px solid #f4ee42;
    background-color: #f7f25b;
    border-radius:10px;
    margin-left: 5px;
    color: #cf8259;
}
.select_all_week{
    border:1px solid #ccc;
    border-radius:5px;
    position: sticky;
    top: 70px;
}
.select_empty, .select_week, .select_week_empty, .select_week_info{
    cursor: pointer;
}
.select_empty:hover, .select_week:hover, .select_week_empty:hover, .select_week_info:hover{
    background-color:#8eefff;
}
.select_empty:not(:last-child),.select_week:not(:last-child),.select_week_empty:not(:last-child),.select_week_info:not(:last-child){
    border-bottom:1px solid #ccc;
}
.select_empty{
    height:10px;
}
.select_week{
    background-color:#afff96;
    height:10px;
}
.select_week_empty{
    background-color:#e8e8e8;
    height:10px;
}
.select_week_info{
    background-color:#f4ac41;
    height:10px;
}
.col_title{
    height: 40px;
    font-size: x-large;
    text-align: center;
    background-color:#ffc966;
    text-transform: capitalize;
}
.col_day{
    width: 30px;
    text-align: center;
    background-color:#f7f25b;
    text-transform: capitalize;
}
.col_num{
    width: 30px;
    text-align: center;
    background-color:#84e2ff;
}
.badge{ border:1px solid #ccc; }
.cours_pos:hover{
    opacity: 0.5;
    cursor: pointer;
}
.col_right{
    padding-left:5px;
}
.round{
    border: 1px solid #000;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
}
.badge-colnbr{
    border: 1px solid #000;
    float: right;
    margin: 3px;
}
.row_separator{
    height:5px;
    background-color: #81e0ef;
}