<div class="container" (window:resize)="onResizeWindow($e)">
	<div *ngIf="error" class="alert alert-danger">
		{{ error }}
	</div>

	<div *ngIf="!error">
		<div class="row">
			<button type="button" class="btn btn-outline-success" style="vertical-align: baseline;margin-right: 20px;" onclick="">
				<i class="fas fa-chevron-left"></i> Retour</button>
			<h2>Gestion des cours du calendrier</h2>
		</div>

		<div class="row" style="margin:5px;">
			<div class="col-1" style="text-align:center;">
				<div *ngIf="semaines.length > 0" [id]="onResizeWindow(null) || 'semaines'" class="select_all_week">
					<div *ngFor="let s of semaines" [class]="s.class" (click)="clickSemaine(s)"></div>
				</div>
			</div>
			<div class="col" style="padding-bottom: 50px;">
				<table class="tbl_detail" width="100%" border="1" style="border:1px #ccc;border-radius:3px;">
					<tbody *ngFor="let km of objectKeys(mois); let firstM = first;">
						<tr>
							<td class="col_title" colspan="3">{{mois[km].libelle}}</td>
							<td class="col_right">
								<div>
									Lieux :
									<span *ngFor="let l of mois[km].lieux" class="badge" [style.background-color]="getColorLieuFormation(l.codeLieu)" placement="top" [ngbTooltip]="l.libelleLieuLong">{{l.libelle}}</span>
								</div>
								<div>
									Formations :
									<span *ngFor="let f of mois[km].formations" class="badge" [style.background-color]="getColorFormation(f.codeFormation)" placement="top" [ngbTooltip]="f.libelleFormationLong">{{f.libelleFormation}}</span>
								</div>
							</td>
						</tr>
						<ng-container *ngFor="let kj of objectKeys(mois[km].jours); let firstD = first; let last = last">
							<tr>
								<td class="col_day" width="20px">
									<a *ngIf="(firstM && firstD) || mois[km].jours[kj].lettre == 'l'" [name]="km + '-' + kj"></a>
									{{mois[km].jours[kj].lettre}}
								</td>
								<td class="col_num" width="20px">{{mois[km].jours[kj].jour}}</td>
								<td class="col_plann" width="300px" align="center">
									<span *ngIf="mois[km].jours[kj].cplace != null" (dblclick)="deplacementCours(mois[km].jours[kj].cplace)" [style.background-color]="getColorLieuFormation(mois[km].jours[kj].cplace.codeLieu)" placement="top" [ngbTooltip]="mois[km].jours[kj].cplace.libelleModule" class="badge cours_pos"><span class="round" [style.background-color]="getColorFormation(mois[km].jours[kj].cplace.codeFormation)"></span>{{mois[km].jours[kj].cplace.libelleCours}}</span>
								</td>
								<td class="col_cours">
									<span *ngFor="let c of mois[km].jours[kj].cours" (dblclick)="placementCours(c)" [style.background-color]="getColorLieuFormation(c.codeLieu)" placement="top" [ngbTooltip]="c.libelleModule + ' - ' + c.codeFormation + ' - ' + c.codeLieu" class="badge cours_pos"><span class="round" [style.background-color]="getColorFormation(c.codeFormation)"></span>{{c.libelleCours}}</span>
								</td>
							</tr>
							<tr *ngIf="!last && mois[km].jours[kj].lettre == 'v'"><td colspan="4" class="row_separator"></td></tr>
						</ng-container>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<nav class="navbar fixed-bottom navbar-light bg-light">
		Notifications de bas de page
	</nav>
</div>