<div class="container" (window:resize)="onResizeWindow($event)" (click)="onClick($event)">
	<div *ngIf="error" class="alert alert-danger">
		{{ error }}
	</div>

	<div *ngIf="!error && afficher">
		<div class="row">
			<div class="col-12">
				<button type="button" class="btn btn-outline-success" style="vertical-align: baseline;margin-right: 20px;" onclick="">
					<i class="fas fa-chevron-left"></i> Retour</button>
				<h2 style="display: contents;">Gestion des cours du calendrier</h2>
				<button type="button" class="btn btn-outline-success float-right" style="vertical-align: baseline;margin-right: 20px;margin-top: 5px;" (click)="demandeEnregistrer()">
					<i class="fas fa-save"></i> Enregistrer</button>
			</div>
		</div>

		<div class="row" style="margin:5px;">
			<div class="col-1" style="text-align:center;">
				<div *ngIf="semaines.length > 0" [id]="onResizeWindow(null) || 'semaines'" class="select_all_week">
					<div *ngFor="let s of semaines" [class]="s.class" (click)="clickSemaine(s)"></div>
				</div>
			</div>
			<div class="col" style="padding-bottom: 50px;">
				<table class="tbl_detail" width="100%" border="1" style="border:1px #ccc;border-radius:3px;">
					<tbody *ngFor="let km of objectKeys(mois); let firstM = first;">
						<tr>
							<td class="col_title" [attr.colspan]="(mois[km].lieux.length + mois[km].formations.length == 0) ? 4 : 3">{{mois[km].libelle}} {{mois[km].annee}}</td>
							<td class="col_right" *ngIf="(mois[km].lieux.length + mois[km].formations.length) > 0">
								<div *ngIf="mois[km].lieux.length > 0">
									Lieux :
									<span *ngFor="let l of mois[km].lieux" class="badge" [style.background-color]="getColorLieuFormation(l.codeLieu)" placement="top" [ngbTooltip]="l.libelleLieuLong">{{l.libelle}}</span>
								</div>
								<div *ngIf="mois[km].formations.length > 0">
									Formations :
									<span *ngFor="let f of mois[km].formations" class="badge" [style.background-color]="getColorFormation(f.codeFormation)" placement="top" [ngbTooltip]="f.libelleFormationLong">{{f.libelleFormation}}</span>
								</div>
							</td>
						</tr>
						<ng-container *ngFor="let kj of objectKeys(mois[km].jours); let firstD = first; let last = last">
							<tr [style.background-color]="mois[km].jours[kj].color">
								<td class="col_day" width="20px">
									<a *ngIf="(firstM && firstD) || mois[km].jours[kj].lettre == 'l'" [name]="km + '-' + kj"></a>
									{{mois[km].jours[kj].lettre}}
								</td>
								<td class="col_num" width="20px">{{mois[km].jours[kj].jour}}</td>
								<td class="col_plann" width="300px" align="center">
									<span *ngIf="mois[km].jours[kj].cplace != null && !mois[km].jours[kj].cplace.indep" (click)="selectCours(mois[km].jours[kj].cplace, false)" (dblclick)="deplacementCours(mois[km].jours[kj].cplace)" [style.background-color]="getColorLieuFormation(mois[km].jours[kj].cplace.codeLieu)" placement="top" [ngbTooltip]="getDescCours( mois[km].jours[kj].cplace, false )" class="badge cours_pos"><span class="round" [style.background-color]="getColorFormation(mois[km].jours[kj].cplace.codeFormation)"></span>{{mois[km].jours[kj].cplace.libelleCours}}</span>
									<span *ngIf="mois[km].jours[kj].cplace != null && mois[km].jours[kj].cplace.indep" (click)="selectCours(mois[km].jours[kj].cplace, true)" (dblclick)="deplacementCours(mois[km].jours[kj].cplace)" [style.background-color]="getColorLieuFormation(mois[km].jours[kj].cplace.codeLieu)" placement="top" [ngbTooltip]="getDescCours( mois[km].jours[kj].cplace, true )" class="badge cours_pos">&rsaquo;&rsaquo; {{mois[km].jours[kj].cplace.shortName}} &lsaquo;&lsaquo;</span>
								</td>
								<td class="col_cours">
									<span *ngFor="let c of mois[km].jours[kj].cours" (click)="selectCours( c, false )" (dblclick)="placementCours( c, false )" [style.background-color]="getColorLieuFormation(c.codeLieu)" placement="top" [ngbTooltip]="getDescCours( c, false )" class="badge cours_pos"><span class="round" [style.background-color]="getColorFormation(c.codeFormation)"></span>{{c.libelleCours}}</span>
									<span *ngFor="let ci of mois[km].jours[kj].coursIndependants" (click)="selectCours( ci, true )" (dblclick)="placementCours( ci, true )" [style.background-color]="getColorLieuFormation(ci.codeLieu)" placement="top" [ngbTooltip]="getDescCours( ci, true )" class="badge cours_pos">&rsaquo;&rsaquo; {{ci.shortName}} &lsaquo;&lsaquo;</span>
								</td>
							</tr>
							<tr *ngIf="!last && mois[km].jours[kj].lettre == 'v'"><td colspan="4" class="row_separator"></td></tr>
						</ng-container>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<nav *ngIf="afficher" class="navbar fixed-bottom navbar-light bg-light">
		{{messageNotification}}
	</nav>
	<div class="row mt-5" *ngIf="!afficher">
		<div class="col-12">
		  <div class="loader">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
		  </div>
		</div>
	  </div>
</div>