.select_all_week{
    border:1px solid #ccc;
    border-radius:5px;
    position: sticky;
    top: 70px;
}
.select_empty, .select_week{
    cursor: pointer;
}
.select_empty:hover, .select_week:hover{
    background-color:#8eefff;
}
.select_empty:not(:last-child),.select_week:not(:last-child){
    border-bottom:1px solid #ccc;
}
.select_empty{
    height:10px;
}
.select_week{
    background-color:#afff96;
    height:10px;
}
.col_title{
    height: 40px;
    font-size: x-large;
    text-align: center;
    background-color:#ffc966;
}
.col_day{
    width: 30px;
    text-align: center;
    background-color:#f7f25b;
}
.col_num{
    width: 30px;
    text-align: center;
    background-color:#84e2ff;
}
.badge{ border:1px solid #ccc; }
.badge-col1{ background-color: #7fef77; }
.badge-col2{ background-color: #efec88; }
.badge-col3{ background-color: #e5b53b; }
.cours_pos:hover{
    opacity: 0.5;
    cursor: pointer;
}
.col_right{
    padding-left:5px;
}
.round1,.round2,.round3{
    border: 1px solid #000;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
}
.round1{ background-color: #7fef77; }
.round2{ background-color: #efec88; }
.round3{ background-color: #e5b53b; }
.badge-colnbr{
    border: 1px solid #000;
    float: right;
    margin: 3px;
}
.row_separator{
    height:5px;
    background-color: #81e0ef;
}