<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand">
    <i class="fa fa-home"></i> AlterPlanning
  </a>

  <div class="navbar-collapse" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/propose-calendar" (click)="itemToolbarClicked()" routerLinkActive="active">
          <i class="fa fa-calendar-alt"></i> Proposer un planning
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search" (click)="itemToolbarClicked()" routerLinkActive="active">
          <i class="fa fa-search"></i> Recherche
        </a>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" ngbDropdownToggle>
          <i class="fa fa-cog"></i> Organisation
        </a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/modules-requirement" (click)="itemToolbarClicked()" routerLinkActive="active"><i class="fas fa-plus-square"></i> Gestion des pré requis</a>
          <a class="dropdown-item" routerLink="/independant-modules" (click)="itemToolbarClicked()" routerLinkActive="active"><i class="fas fa-stream"></i> Module indépendants</a>
          <a class="dropdown-item" routerLink="/calendar-models" (click)="itemToolbarClicked()" routerLinkActive="active"><i class="far fa-calendar-plus"></i> Modèles de planning</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/parameters" (click)="itemToolbarClicked()" routerLinkActive="active"><i class="fas fa-code-branch"></i> Paramètrage</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="d-flex flex-row-reverse">
    <ul class="navbar-nav mr-auto" *ngIf="user">
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" ngbDropdownToggle>
          <i class="fa fa-user"></i> {{ user.email }}
        </a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/history" (click)="itemToolbarClicked()" routerLinkActive="active"><i class="fa fa-history"></i> Historique</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Déconnexion</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
