<div class="container">
  <div *ngIf="!error">
    <div class="row mb-3">
      <h2>Détail du calendrier</h2>
    </div>
    <div class="row">
      <div class="col-12">
        <a class="btn btn-outline-danger"
           *ngIf="calendar"
           [href]="'/api/file/calendar/' + calendar.id + '/pdf'"
           target="_blank"><i class="far fa-file-pdf"></i> PDF</a>
        <a class="btn btn-outline-info"
           *ngIf="calendar"
           [href]="'/api/file/calendar/' + calendar.id + '/rtf'"
           target="_blank"><i class="far fa-file"></i> RTF</a>
      </div>
      <div class="col-12 mt-3">
        <pre>{{ calendar | json }}</pre>
      </div>
    </div>
  </div>
</div>
