<div class="container">
  <div *ngIf="!error && calendar">
    <div class="row">
      <div class="col-10">
        <h2>Détail du planning</h2>
      </div>
      <div class="col-2 text-right" style="margin: auto;">
        <button *ngIf="calendar.state === CALENDAR_STATES.PROPOSAL && !calendar.isModel"
                class="btn btn-danger"
                (click)="deleteCalendar()"
                placement="left" ngbTooltip="Supprimer le planning"><i class="far fa-trash-alt"></i></button>
      </div>
    </div>

    <hr>

    <div class="row line-detail">
      <div class="col-sm-2">
        <strong>Etat :</strong>
      </div>
      <div class="col-sm-3 state"
           [class.proposal]="calendar.state === CALENDAR_STATES.PROPOSAL"
           [class.validated]="calendar.state === CALENDAR_STATES.VALIDATED">
        {{state}}
      </div>
      <div class="col-sm-1">
        <button *ngIf="calendar.state === CALENDAR_STATES.PROPOSAL"
                (click)="changeStateToValidate()"
                class="btn btn-sm btn-outline-dark"
                placement="bottom" ngbTooltip="Passer l'état à << Validé >>"><i class="fa fa-check"></i></button>
      </div>
    </div>

    <div class="row line-detail">
      <div class="col-sm-2">
        <strong>Période :</strong>
      </div>
      <div class="col-sm-10">
        <span>Du <strong>{{startDate}}</strong> au <strong>{{endDate}}</strong></span>
      </div>
    </div>

    <div class="row line-detail">
      <div class="col-sm-2">
        <strong>Stagiaire :</strong>
      </div>
      <div class="col-sm-10">
        <span *ngIf="calendar.stagiaire">
          {{ calendar.stagiaire.prenom }} {{ calendar.stagiaire.nom | uppercase }}
        </span>
        <span *ngIf="!calendar.stagiaire">
          à définir
        </span>
      </div>
    </div>

    <div class="row line-detail">
      <div class="col-sm-2">
        <strong>Entreprise :</strong>
      </div>
      <div class="col-sm-10">
        <span *ngIf="calendar.entreprise">
          {{ calendar.entreprise.raisonSociale }}
        </span>
        <span *ngIf="!calendar.entreprise">
          à définir
        </span>
      </div>
    </div>

    <div class="row line-detail">
      <div class="col-sm-2">
        <strong>Cursus :</strong>
      </div>
      <div class="col-sm-10">
        {{ cursus }}
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-12">
        <button class="btn btn-outline-primary"
                *ngIf="calendar.state === CALENDAR_STATES.PROPOSAL"
                (click)="goToProcessingPage(calendar.id)"><i class="fa fa-pencil"></i> Modifier</button>

        <button class="btn btn-outline-secondary"
                *ngIf="calendar.state === CALENDAR_STATES.PROPOSAL"
                [disabled]="true"><i class="far fa-clone"></i> Proposer une variante</button>

        <a class="btn btn-outline-danger"
           [href]="'/api/file/calendar/' + calendar.id + '/pdf'"
           target="_blank"><i class="far fa-file-pdf"></i> Export PDF</a>

        <a class="btn btn-outline-info"
           [href]="'/api/file/calendar/' + calendar.id + '/rtf'"
           target="_blank"><i class="far fa-file"></i> Export RTF</a>

        <button class="btn btn-outline-success"
           *ngIf="!calendar.isModel" (click)="registerAsModel()"><i class="far fa-bookmark"></i> Enregistrer comme modèle</button>
      </div>
    </div>

    <hr>

    <div class="row">
      <table class="table table-bordered calendar-table" *ngIf="lines.length !== 0">
        <thead>
        <tr>
          <th>Début</th>
          <th>Fin</th>
          <th>Lieu</th>
          <th>Programme</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let line of lines">
          <td>{{line.debut}}</td>
          <td>{{line.fin}}</td>
          <td *ngIf="line.entreprisePeriode" colspan="2" class="entreprise">ENTREPRISE</td>
          <td *ngIf="!line.entreprisePeriode" class="turquoise">{{line.lieu.libelle}} ({{line.dureeReelleEnHeures}} heures)</td>
          <td *ngIf="!line.entreprisePeriode">{{line.libelle}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
