<div class="container">
  <div class="row mb-3">
    <h2>Gestion des modèles de planning</h2>
  </div>
  <div class="row">
    <div class="col-12">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-hover table-striped">
        <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Date de création</th>
          <th class="no-sort" scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let model of models">
          <td><a routerLink="/calendar/{{model.calendarId}}/details">{{model.name}}</a></td>
          <td>{{model.createdAt | date:'dd/MM/yyyy'}}</td>
          <td class="text-right">
            <button class="btn btn-outline-success"
                    (click)="duplicateModel(model)"
                    placement="top" ngbTooltip="Dupliquer le modèle"><i class="far fa-copy"></i></button>
            <button class="btn btn-outline-danger"
                    (click)="deleteModel(model)"
                    placement="top" ngbTooltip="Supprimer le modèle"><i class="far fa-trash-alt"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
