<div class="modal-header">
  <h4 class="modal-title">Dispenser un élément</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ngb-tabset justify="fill">
    <ngb-tab>
      <ng-template ngbTabTitle><i class="fas fa-book"></i> Un module</ng-template>
      <ng-template ngbTabContent>
        <div class="form-group row mt-4">
          <label class="col-3 col-form-label">Modules :</label>
          <div class="col-9">
            <ng-select [(ngModel)]="selectedModule"
                       placeholder="Module"
                       notFoundText="Aucun module trouvé">
              <ng-option *ngFor="let module of modules"
                         [value]="module.idModule">{{module.libelleCourt}} - {{module.libelle}}</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <button class="btn btn-outline-dark" (click)="dispenseElement(CONSTRAINT_TYPE.DISPENSE_MODULE)"
                    [disabled]="!selectedModule">Valider</button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle><i class="fas fa-address-book"></i> Pas en même temps que</ng-template>
      <ng-template ngbTabContent>
        <div class="form-group row mt-4">
          <label class="col-3 col-form-label">Stagiaires :</label>
          <div class="col-9">
            <ng-select [(ngModel)]="selectedStagiaire"
                       placeholder="Stagiaire"
                       disabled="disabled"
                       notFoundText="Aucun stagiaire trouvé">
              <ng-option *ngFor="let stagiaire of stagiaires"
                         [value]="stagiaire.codeStagiaire">{{stagiaire.prenom}} {{stagiaire.nom}} - ({{stagiaire.email}})</ng-option>
            </ng-select>
            <div class="row text-center text-danger">
              Pas encore pris en compte pour le moment
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-12">
            <button class="btn btn-outline-dark" (click)="dispenseElement(CONSTRAINT_TYPE.PAS_EN_MEME_TEMPS_QUE)"
                    [disabled]="!selectedStagiaire">Valider</button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle><i class="far fa-clock"></i> Une période définie</ng-template>
      <ng-template ngbTabContent>
        <div class="form-group row mt-4">
          <label class="col-2 col-form-label">Du :</label>
          <div class="col-3">
            <input type="text" class="form-control" [(ngModel)]="selectedPeriodeDebut" name="dateDebut" placeholder="yyyy-mm-dd"
                   ngbDatepicker #dpDebut="ngbDatepicker" (click)="dpDebut.toggle(); dpFin.close()" [maxDate]="selectedPeriodeFin" navigation="arrows"/>
          </div>
          <label class="col-2 col-form-label text-center">au</label>
          <div class="col-3">
            <input type="text" class="form-control" [(ngModel)]="selectedPeriodeFin" name="dateFin" placeholder="yyyy-mm-dd"
                   ngbDatepicker #dpFin="ngbDatepicker" (click)="dpFin.toggle(); dpDebut.close()" [minDate]="selectedPeriodeDebut" navigation="arrows"/>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <button class="btn btn-outline-dark" (click)="dispenseElement(CONSTRAINT_TYPE.DISPENSE_PERIODE)"
                    [disabled]="!selectedPeriodeDebut || !selectedPeriodeFin">Valider</button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
