<div class="container">
  <div class="row mb-3">
    <h2>Recherche de calendrier</h2>
  </div>
  <div class="form-group row">
    <div class="col-sm-5">
      <ng-select [(ngModel)]="selectedStagiaire"
                 (change)="selectedValueChange(QUERY_KEYS.stagiaire)"
                 placeholder="Stagiaire"
                 notFoundText="Aucun stagiaire trouvé">
        <ng-option *ngFor="let stagiaire of stagiaires"
                   [value]="stagiaire.codeStagiaire">{{stagiaire.prenom}} {{stagiaire.nom}} - ({{stagiaire.email}})</ng-option>
      </ng-select>
    </div>
    <div class="col-sm-4">
      <ng-select
        [items]="entreprises"
        (change)="selectedValueChange(QUERY_KEYS.entreprise)"
        bindLabel="raisonSociale"
        bindValue="codeEntreprise"
        placeholder="Entreprise"
        notFoundText="Aucune entreprise trouvée"
        [(ngModel)]="selectedEntreprise">
      </ng-select>
    </div>
    <div class="col-sm-3">
      <ng-select
        [items]="promotions"
        (change)="selectedValueChange(QUERY_KEYS.promotion)"
        bindLabel="libelle"
        bindValue="codePromotion"
        placeholder="Promotion"
        notFoundText="Aucune promotion trouvée"
        [(ngModel)]="selectedPromotion">
      </ng-select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3">
      <ng-select [(ngModel)]="selectedFormation"
                 (change)="selectedValueChange(QUERY_KEYS.formation)"
                 placeholder="Formation"
                 notFoundText="Aucune formation trouvée">
        <ng-option *ngFor="let formation of formations"
                   [value]="formation.codeFormation">{{formation.libelleCourt}} - {{formation.libelleLong}}</ng-option>
      </ng-select>
    </div>
    <div class="col-sm-3">
      <ng-select [(ngModel)]="selectedModule"
                 (change)="selectedValueChange(QUERY_KEYS.module)"
                 placeholder="Module"
                 notFoundText="Aucun module trouvé">
        <ng-option *ngFor="let module of modules"
                   [value]="module.idModule">{{module.libelleCourt}} - {{module.libelle}}</ng-option>
      </ng-select>
    </div>
    <label class="col-sm-1 col-form-label">Dates :</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" [(ngModel)]="selectedDateDebut"
             (ngModelChange)="selectedValueChange(QUERY_KEYS.startDate)" name="dateDebut" placeholder="yyyy-mm-dd"
             ngbDatepicker #dpDebut="ngbDatepicker" (click)="dpDebut.toggle(); dpFin.close()"
             [maxDate]="selectedDateFin" navigation="arrows"/>
    </div>
    <div class="col-sm-2">
      <input type="text" class="form-control" [(ngModel)]="selectedDateFin"
             (ngModelChange)="selectedValueChange(QUERY_KEYS.endDate)" name="dateFin" placeholder="yyyy-mm-dd"
             ngbDatepicker #dpFin="ngbDatepicker" (click)="dpFin.toggle(); dpDebut.close()"
             [minDate]="selectedDateDebut" navigation="arrows"/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <label class="col-sm-1 col-form-label">Etats :</label>
      <label>
        <input type="radio" name="item_etat" [(ngModel)]="selectedState" (change)="selectedValueChange(QUERY_KEYS.state)" value="ALL"/> Tous</label>&nbsp;
      <label>
        <input type="radio" name="item_etat" [(ngModel)]="selectedState" (change)="selectedValueChange(QUERY_KEYS.state)" [value]="CALENDAR_STATE.VALIDATED"/> Confirmé</label>&nbsp;
      <label>
        <input type="radio" name="item_etat" [(ngModel)]="selectedState" (change)="selectedValueChange(QUERY_KEYS.state)" [value]="CALENDAR_STATE.PROPOSAL"/> Proposition</label>&nbsp;
      <label>
        <input type="radio" name="item_etat" [(ngModel)]="selectedState" (change)="selectedValueChange(QUERY_KEYS.state)" [value]="CALENDAR_STATE.DRAFT"/> Brouillon</label>
    </div>
    <div class="col-sm-2 text-right">
      <button type="button" class="btn btn-outline-secondary float-right"
              [disabled]="searching" (click)="search()">
        <i class="fas fa-search"></i> Rechercher
      </button>
    </div>
  </div>
  <div class="row mt-5" *ngIf="searching">
    <div class="col-12">
      <div class="loader">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="row mt-5" *ngIf="calendars.length === 0 && validated && !searching">
    <div class="alert alert-info col-12">
      Aucun calendrier
    </div>
  </div>
  <div class="row mt-5" *ngIf="calendars.length > 0">
    <table class="col-12 table table-hover tbl_search">
      <thead>
        <tr>
          <th>Etat</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Entreprise</th>
          <th>Dates</th>
          <th>Modèle ?</th>
          <th>Créé le</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let calendar of calendars">
          <td [ngClass]="getCalendarCssClass(calendar)"
              routerLink="/calendar/{{calendar.id}}/{{calendar.state === CALENDAR_STATE.DRAFT ? 'processing' : 'details'}}">
            <i class="far fa-eye"></i> {{ getCalendarState(calendar) }}
          </td>
          <td>{{ getCalendarStagiairePrenom(calendar) }}</td>
          <td>{{ getCalendarStagiaireNom(calendar) }}</td>
          <td>{{ getCalendarEntrepriseName(calendar) }}</td>
          <td>{{ getCalendarPeriode(calendar) }}</td>
          <td>{{ calendar.isModel ? 'Oui' : 'Non' }}</td>
          <td>{{ calendar.createdAt }}</td>
          <td>
            <button *ngIf="!calendar.isModel && calendar.state !== CALENDAR_STATE.VALIDATED"
                    class="btn btn-sm btn-outline-danger"
                    (click)="deleteCalendar(calendar)"><i class="far fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
