.tbl_search {
  td {
    &.stat_proposition{
      background-color: #f58f8f;

      &:hover{
        background-color: #f95a5a;
        cursor: pointer;
      }
    }

    &.stat_confirme{
      background-color: #66cc66;

      &:hover{
        background-color: #58af58;
        cursor: pointer;
      }
    }

    &.stat_brouillon{
      background-color: #e0d0d0;

      &:hover{
        background-color: #c0b0b0;
        cursor: pointer;
      }
    }
  }
}

