<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">User</h5>
      <pre>{{user|json}}</pre>
    </div>
  </div>

  <br>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Promotions</h5>

      <select class="form-control" [(ngModel)]="selectedPromotion" (change)="changePromotion()">
        <option selected disabled>Choisir une promotion</option>
        <option *ngFor="let p of promotions" [ngValue]="p">{{ p.libelle }}</option>
      </select>
    </div>
  </div>

  <br>

  <div class="card" *ngIf="selectedPromotion && cours.length !== 0">
    <div class="card-body">
      <h5 class="card-title">Cours associés</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let c of cours">
          <b>{{ c.libelleCours }}</b> <br>
          {{ c.debut }} / {{ c.fin }}
        </li>
      </ul>
    </div>
  </div>

</div>

