<html>
<head>

</head>
<body>
    <p>
        You're password have been changed successfully
        <br/>
        Try to remind this password and delete this mail
    </p>
    <p>Here you're new password: <strong>$password</strong></p>
    <br/>
    <p>Have a good day !</p>
</body>
</html>
