<html>
<head>
    <style>
        .logo {
            width: 100px;
            height: 100px;
        }

        .text-center {
            text-align: center
        }

        .text-right {
            text-align: right;
        }

        .bold {
            font-weight: bold;
        }

        .title {
            font-size: 20px;
        }

        .subtitle {
            font-size: 12px
        }

        .yellow {
            background-color: #ffff00;
        }

        .turquoise {
            background-color: #48f9fb;
        }

        .planning {
            width: 100%;
        }

        .planning, .planning tr, .planning td, .planning th {
            text-align: center;
            border-collapse: collapse;
            border: 1px solid rgba(82, 82, 82, 1);
        }

        .planning td, .planning th {
            height: 30px;
        }

        .planning td:first-child, .planning th:first-child, .planning td:nth-child(2), .planning th:nth-child(2) {
            width: 85px;
        }

        .planning td:nth-child(3), .planning th:nth-child(3) {
            width: 120px;
        }
    </style>
</head>
<body>
<img class="logo" src="$logoUrl" alt="Logo Ecole ENI">
<br>
<p class="title bold text-center">$titreLong</p>
<p class="subtitle text-center">Préparation au titre « $titreCourt » Niveau $niveau</p>
<br>
<table style="width: 100%;" class="bold">
    <tr>
        <td>Date de début (formation) : $startDate</td>
        <td class="text-right">Date de fin (formation) : $endDate</td>
    </tr>
</table>
<p class="text-center bold">Formation en centre : $dureeEnHeureFormation Heures</p>
<table style="width: 100%;" class="bold">
    <tr>
        <td>Entreprise : $entrepriseName</td>
        <td class="text-right">Salarié : $name</td>
    </tr>
</table>
<table class="planning">
    <thead>
    <tr class="yellow">
        <th>Début</th>
        <th>Fin</th>
        <th>Lieu</th>
        <th>Programme</th>
    </tr>
    </thead>
    <tbody>
    #foreach($li in $lines)
        #if($li.entreprisePeriode)
            <tr>
                <td>$li.debut</td>
                <td>$li.fin</td>
                <td colspan="2" class="bold">ENTREPRISE</td>
            </tr>
        #else
            <tr>
                <td>$li.debut</td>
                <td>$li.fin</td>
                <td class="turquoise">$li.lieu.libelle ($li.dureeReelleEnHeures heures)</td>
                <td>$li.libelle</td>
            </tr>
        #end
    #end
    </tbody>
</table>
</body>
</html>

