<html>
<head>
    <style>
        .text-center {
            text-align: center
        }

        .text-right {
            text-align: right;
        }

        .bold {
            font-weight: bold;
        }

        .title {
            font-size: 20px;
        }

        .subtitle {
            font-size: 12px
        }

        .yellow {
            background-color: #ffff00;
        }

        .turquoise {
            background-color: #48f9fb;
        }

        .planning {
            width: 100%;
        }

        .planning, .planning tr, .planning td, .planning th {
            text-align: center;
            border-collapse: collapse;
            border: 1px solid rgba(82, 82, 82, 1);
        }

        .planning td, .planning th {
            height: 30px;
        }

        .planning td:first-child, .planning th:first-child, .planning td:nth-child(2), .planning th:nth-child(2) {
            width: 90px;
        }

        .planning td:nth-child(3), .planning th:nth-child(3) {
            width: 130px;
        }
    </style>
</head>
<body>
<img src="https://www.eni-ecole.fr/Content/Images/Static/logo-eni.png" alt="Logo Ecole ENI">
<br>
<p class="title bold text-center">MANAGER DES SYSTÈMES D'INFORMATION ET D'INFRASTRUCTURE - OPTION SYSTÈMES D'INFORMATION</p>
<p class="subtitle text-center">Préparation au titre «Manager des Systèmes d'Information et d'Infrastructure» Niveau I</p>
<br>
<table style="width: 100%;" class="bold">
    <tr>
        <td>Date de début (formation) : 24/10/2016</td>
        <td class="text-right">Date de fin (formation) : 14/09/2018</td>
    </tr>
</table>
<p class="text-center bold">Formation en centre : 903 Heures</p>
<table style="width: 100%;" class="bold">
    <tr>
        <td>Entreprise : CONSERTO</td>
        <td class="text-right">Salarié : $name</td>
    </tr>
</table>
<table class="planning">
    <thead>
    <tr class="yellow">
        <th>Début</th>
        <th>Fin</th>
        <th>Lieu</th>
        <th>Programme</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>24/10/2016</td>
        <td>28/10/2016</td>
        <td class="turquoise">ENI (Nantes) 35 heures</td>
        <td>Procédures stockées avec PL-SQL</td>
    </tr>
    <tr>
        <td>31/10/2016 </td>
        <td>18/11/2016 </td>
        <td colspan="2" class="bold">ENTREPRISE</td>
    </tr>
    <tr>
        <td>24/10/2016</td>
        <td>28/10/2016</td>
        <td class="turquoise">ENI (Nantes) 35 heures</td>
        <td>Utilisation de frameworks pour le développement avec Java EE</td>
    </tr>
    <tr>
        <td>24/10/2016</td>
        <td>28/10/2016</td>
        <td class="turquoise">ENI (Nantes) 70 heures</td>
        <td>Architectures applicatives</td>
    </tr>
    <tr>
        <td>24/10/2016</td>
        <td>28/10/2016</td>
        <td class="turquoise">ENI (Nantes) 35 heures</td>
        <td>Procédures stockées avec PL-SQL</td>
    </tr>
    <tr>
        <td>31/10/2016 </td>
        <td>18/11/2016 </td>
        <td colspan="2" class="bold">ENTREPRISE</td>
    </tr>
    <tr>
        <td>24/10/2016</td>
        <td>28/10/2016</td>
        <td class="turquoise">ENI (Nantes) 35 heures</td>
        <td>Utilisation de frameworks pour le développement avec Java EE</td>
    </tr>
    <tr>
        <td>24/10/2016</td>
        <td>28/10/2016</td>
        <td class="turquoise">ENI (Nantes) 70 heures</td>
        <td>Architectures applicatives</td>
    </tr>
    <tr>
        <td>24/10/2016</td>
        <td>28/10/2016</td>
        <td class="turquoise">ENI (Nantes) 35 heures</td>
        <td>Procédures stockées avec PL-SQL</td>
    </tr>
    <tr>
        <td>31/10/2016 </td>
        <td>18/11/2016 </td>
        <td colspan="2" class="bold">ENTREPRISE</td>
    </tr>
    <tr>
        <td>24/10/2016</td>
        <td>28/10/2016</td>
        <td class="turquoise">ENI (Nantes) 35 heures</td>
        <td>Utilisation de frameworks pour le développement avec Java EE</td>
    </tr>
    <tr>
        <td>24/10/2016</td>
        <td>28/10/2016</td>
        <td class="turquoise">ENI (Nantes) 70 heures</td>
        <td>Architectures applicatives</td>
    </tr>
    <tr>
        <td>24/10/2016</td>
        <td>28/10/2016</td>
        <td class="turquoise">ENI (Nantes) 35 heures</td>
        <td>Procédures stockées avec PL-SQL</td>
    </tr>
    <tr>
        <td>31/10/2016 </td>
        <td>18/11/2016 </td>
        <td colspan="2" class="bold">ENTREPRISE</td>
    </tr>
    <tr>
        <td>24/10/2016</td>
        <td>28/10/2016</td>
        <td class="turquoise">ENI (Nantes) 35 heures</td>
        <td>Utilisation de frameworks pour le développement avec Java EE</td>
    </tr>
    <tr>
        <td>24/10/2016</td>
        <td>28/10/2016</td>
        <td class="turquoise">ENI (Nantes) 70 heures</td>
        <td>Architectures applicatives</td>
    </tr>
    </tbody>
</table>
</body>
</html>

