<div class="container">
  <div class="row mb-3">
    <h2>Historique</h2>
  </div>
  <div class="row">
    <table datatable class="table table-hover table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Acteur</th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">4</th>
        <td>Ugho STEPHAN</td>
        <td>Ajout du calendrier n°12</td>
        <td>01/08/2018 10:52:00</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Dorian PIZZATO</td>
        <td>Ajout du prérequis n°27</td>
        <td>02/06/2018 17:23:08</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Dorian PIZZATO</td>
        <td>Suppression du modèle n°27</td>
        <td>15/12/2017 15:00:13</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Emmanuel HIDALGO</td>
        <td>Changement de la valeur du paramètre « FORMATION_COLOR_1 » de #fef5a3 à #cccccc</td>
        <td>01/08/2017 10:52:00</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
