.requirement-panel {
  border:1px solid #ccc;
  background-color:#e8e8e8;
  border-radius:3px;
  height: 100%;
  padding: 10px;
}

.col-requirement {
  padding: 5px;
}

.item_module {
    border:1px solid #2d601d;
    background-color:#d0ffc1;
    padding: 2px 10px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75ch;
}

.item_none{
    border: 1px solid #676d66;
    background-color: #d8d8d8;
}

.over_green:hover{
    cursor: pointer;
    border: 1px solid #4bff12;
    background-color: #b8ffc0;
}

.item_result{
    background-color:#ecafff;
}

.purple:hover{
    cursor: pointer;
    background-color: #ecd1f5;
    border: 1px solid #d8a4da;
}

.item_select{
    background-color:#afdcff;
    margin-bottom:6px;
}

.ico_delete{
    border-radius: 3px;
    color: #f58282;
    float: right;
    margin-top: 2px;
}

.ico_delete:hover{
    color: red;
    cursor: pointer;
}

.item_show_liste{
    width: 30%;
    display: inline-block;
    float: left;
    background-color: #b3e6f5;
}

.ico_or, .ico_and {
  margin: 10px auto;
  border-radius: 3px;
  color: white;
  width: 65px;
  height: 30px;
  line-height: 1;
  padding: 5px;
}

.ico_and {
  border: 1px solid #99a0ec;
  background-color: #82bee6;
}

.ico_or {
  border: 1px solid #7cb17b;
  background-color: #6eec2b;
}

.lstSource {
  overflow-y: scroll;
  height: 300px;
  width: 100%;
  margin-bottom: 5px;
}

.lstTarget {
  overflow-y: scroll;
  height: 265px;
  width: 100%;
  margin-bottom: 5px;
}

.table-prerequis {
  .first-col {
    width: 40%;
  }

  .item_module_liste {
    max-width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .item_ico_liste {
    float: left;

    .ico_or, .ico_and {
      margin: 0 5px;
    }

    .ico_and {
      padding: 6px 23px;
    }
  }
}

.btn-add-requirement{
  width: 100%;
  margin: 0 20px;
}