<div class="container">
  <div class="row mb-3">
    <h2>Gestion des pré requis</h2>
  </div>
  <div class="row">
    <div class="col-md-4 col-requirement">
      <div class="requirement-panel">
        <h4>Module concerné</h4>
        <div class="form-group row">
          <label class="col-lg-4 col-form-label">Titre :</label>
          <div class="col-lg-8">
            <ng-select
              [items]="dataTitres"
              bindLabel="libelleLong"
              bindValue="codeTitre"
              placeholder="Saisir le titre"
              notFoundText="Aucun titre trouvé"
              (change)="selectTitreSource()"
              [(ngModel)]="sourceCodeTitre">
            </ng-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-4 col-form-label">Formation :</label>
          <div class="col-lg-8">
            <ng-select
              [items]="dataFormations"
              bindLabel="libelleLong"
              bindValue="codeFormation"
              placeholder="Saisir la formation"
              notFoundText="Aucune formation trouvée"
              (change)="selectFormationSource()"
              [(ngModel)]="sourceFormation">
            </ng-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-4 col-form-label">Module :</label>
          <div class="col-lg-8">
            <ng-select
              [items]="sourcesModules"
              bindLabel="libelle"
              bindValue="idModule"
              placeholder="Saisir le module"
              notFoundText="Aucun module trouvé"
              (change)="clickSource($event)">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-requirement" *ngIf="sourceSelected">
      <div class="requirement-panel">
        <h4>Ajouter un Pré requis à</h4>
        <div *ngIf="sourceSelected" class="col item_module">
          <i class="fas fa-cube"></i> {{ sourceSelected.libelle }}
        </div>
        <div *ngIf="!sourceSelected" class="col item_module item_none">
          <i class="fas fa-exclamation"></i> Sélectionnez le module concerné
        </div>
        <div class="form-group row">
          <label class="col-lg-4 col-form-label">Titre :</label>
          <div class="col-lg-8">
            <ng-select
              [items]="dataTitres"
              bindLabel="libelleLong"
              bindValue="codeTitre"
              placeholder="Saisir le titre"
              notFoundText="Aucun titre trouvé"
              (change)="selectTitreTarget()"
              [(ngModel)]="targetCodeTitre">
            </ng-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-4 col-form-label">Formation :</label>
          <div class="col-lg-8">
            <ng-select
              [items]="dataFormations"
              bindLabel="libelleLong"
              bindValue="codeFormation"
              placeholder="Saisir la formation"
              notFoundText="Aucune formation trouvée"
              (change)="selectFormationTarget()"
              [(ngModel)]="targetFormation">
            </ng-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-4 col-form-label">Module :</label>
          <div class="col-lg-8">
            <ng-select
              [items]="filterTargetModules"
              bindLabel="libelle"
              bindValue="idModule"
              placeholder="Saisir le module"
              notFoundText="Aucun module trouvé"
              (change)="addRequirement($event)">
            </ng-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-4 col-form-label">Constrainte :</label>
          <div class="col-lg-8 text-right">
            <label><input type="radio" name="requirementOrOperator" [(ngModel)]="requirementOrOperator" [value]="true"/> Et</label>
            <label><input type="radio" name="requirementOrOperator" [(ngModel)]="requirementOrOperator" [value]="false"/> Ou</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-requirement" *ngIf="sourceSelected">
      <div class="requirement-panel">
        <h4>Pré requis</h4>
        <div>
          <div *ngFor="let r of sourceRequirementSelected; first as isFirst">
            <div *ngIf="!isFirst">
              <div *ngIf="r.or" class="col text-center">
                <div class="ico_and">
                  <i class="fas fa-plus-square"></i>
                </div>
              </div>
              <div *ngIf="!r.or" class="col text-center">
                <div class="ico_or">
                  <i class="fas fa-chevron-left"></i>
                  Ou
                  <i class="fas fa-chevron-right"></i>
                </div>
              </div>
            </div>
            <div class="col item_module item_select" (click)="clickDelete(r)">
              <i class="fas fa-crosshairs"></i> {{ getModuleById(r.moduleId).libelle }}
              <i class="fas fa-times-circle ico_delete"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-requirement" *ngIf="!sourceSelected">
      <div class="requirement-panel">
        <h4>Aucun module de renseigné</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-requirement">
      <div class="requirement-panel">
        <h4>Liste des pré requis</h4>
        <div class="form-group row">
          <label class="col-md-2 col-form-label">Module :</label>
          <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Saisir le module" [(ngModel)]="listeModule" (keyup)="findModuleListe()"/>
          </div>
          <label class="col-md-2 col-form-label">Pré requis :</label>
          <div class="col-md-5">
            <input type="text" class="form-control" placeholder="Saisir le module pré requis" [(ngModel)]="listePrerequis" (keyup)="findModuleListe()"/>
          </div>
        </div>
        <table class="table table-sm table-hover table-prerequis">
          <tr *ngFor="let m of moduleWithRequirementFiltre">
            <td class="first-col">
              <div *ngIf="getModuleById(m.moduleId) != null" class="item_module over_green item_module_liste" (click)="clickSource(getModuleById(m.moduleId))">
                <i class="fas fa-cube"></i> {{ getModuleById(m.moduleId).libelle }}
              </div>
            </td>
            <td>
              <div *ngFor="let r of m.requirements; first as isFirst">
                <div *ngIf="!isFirst && r.or" class="item_ico_liste">
                  <div class="ico_and">
                    <i class="fas fa-plus-square"></i>
                  </div>
                </div>
                <div *ngIf="!isFirst && !r.or" class="item_ico_liste">
                    <div class="ico_or">
                      <i class="fas fa-chevron-left"></i>
                      Ou
                      <i class="fas fa-chevron-right"></i>
                    </div>
                  </div>
                <div class="item_module item_show_liste" *ngIf="getModuleById(r.moduleId) != null">
                  <i class="fas fa-crosshairs"></i> {{ getModuleById(r.moduleId).libelle }}
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
