<div class="container">
  <form #authForm="ngForm" (ngSubmit)="onSubmit()" class="form-signin text-center">
    <img class="mb-4" src="assets/images/logo_ap.png" alt="">
    <h1 class="h3 mb-3 font-weight-normal">ALTER PLANING</h1>
    <label for="email" class="sr-only">Identifiant</label>
    <input type="email"
             class="form-control"
             id="email"
             name="email"
             placeholder="Identifiant"
             required
             autofocus
             [class.is-invalid]="errorList['email']"
             [(ngModel)]="model.email">
    <span *ngIf="errorList['email']" class="invalid-feedback">{{errorList['email']}}</span>
    <label for="password" class="sr-only">Mot de passe</label>
    <input type="password"
             class="form-control"
             id="password"
             name="password"
             placeholder="Password"
             required
             [class.is-invalid]="errorList['password']"
             [(ngModel)]="model.password">
    <span *ngIf="errorList['password']" class="invalid-feedback">{{errorList['password']}}</span>
    <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!authForm.form.valid || submitted">Valider</button>
    <p class="mt-5 mb-3 text-muted">&copy; GROUPE-E 2017-2018</p>
  </form>
  <div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
</div>
